<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <appSettings>
    <add key="LogFileDirectory" value="" />
    <add key="LogFileName" value="" />
    <add key="WebhookUrl" value="" />
    <add key="ReportNormalLog" value="0" />
    <add key="ReportErrorLog" value="0" />
    <add key="RefreshInterval" value="0" />
    <add key="LogUpdateInterval" value="0" />
  </appSettings>
</configuration>